<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		
		 <handlers>
            <add name="wifi2" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="d:\php569\php-cgi.exe" resourceType="Unspecified" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="已导入的规则 1">
                    <match url="^login(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/login/index/(.*)" />
                </rule>
                <rule name="已导入的规则 2">
                    <match url="^ping(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/ping/index/(.*)" />
                </rule>
                <rule name="已导入的规则 3">
                    <match url="^auth(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/auth/index/(.*)" />
                </rule>
                <rule name="已导入的规则 4">
                    <match url="^portal(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/user/index/(.*)" />
                </rule>
                <rule name="已导入的规则 5">
                    <match url="^library/test/success.html" ignoreCase="false" />
                    <action type="Rewrite" url="index.php/api/login/apple" />
                </rule>
                <rule name="已导入的规则 6">
                    <match url="^weixin(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php/api/login/weixin/(.*)" />
                </rule>
                <rule name="已导入的规则 7">
                    <match url="^dladmin(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php/index/index/alog/(.*)" />
                </rule>
                <rule name="已导入的规则 8">
                    <match url="^ptadmin(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php/wifiadmin/login/index/(.*)" />
                </rule>
                <rule name="已导入的规则 9">
                    <match url="^wxmm(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php/index/wxmm/index/(.*)" />
                </rule>
            </rules>
        </rewrite>
	
    </system.webServer>
</configuration>
